*{
    margin: 0;
    padding: 0;
}
.containers{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "one        one     one     one     one     one     one"
    "two        two     two     two     two     two     two"
    "two        two     two     two     two     two     two"
    "two        two     two     two     two     two     two"
    "two        two     two     two     two     two     two"
    "two        two     two     two     two     two     two"
    "three      three   three   three   three   three   three"
    ;
}

.header{
    grid-area: one;
    background-color: red;
}
.body{
    background-color: green;
    grid-area: two;
    
}
.footer{
    grid-area: three;
    background-color:purple;
}